body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
      Helvetica, Arial, "Lucida Grande", sans-serif;
      background-color: #000;
      background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    color: white;
    text-align: center;
    height: 100%;
    font-size: 18px;
    margin-top: 45px;
  }
  
  .wrappper {
    width: 100%;
    margin: 0 auto;
  }
  
  canvas {
    color: white;
    border: white dashed 2px;
    padding: 15px;
  }
  
  h1,
  h2,
  h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    margin: 5px 0;
  }
  h1 {
    font-size: 2.6em;
  }
  
  h2 {
    font-size: 1.2em;
  }
  
  p {
    font-size: 1.2em;
  }
  
  Button {
    background-color: #000;
    border-radius: 5px;
    border: solid 1px white;
    color: white;
    width: 35px;
    height: 35px;
    margin: 0 10px 10px 0;
    outline: none;
  }
  Button:hover {
    transition: 0.5s;
    background: white;
    border: solid 1px white;
    color: #c1d72e;
  }
  
  .selected {
    background: white;
    border: solid 1px white;
    color: #c1d72e;
  }
  
  .btn-2 {
    border-radius: 10px;
    background-color: #000;
    color: white;
    border: solid 1px white;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 10px 10px;
    width: 180px;
    height: 50px;
    margin: 0 10px 10px 0;
  
    outline: none;
  }
  .btn-2:hover {
    transition: 0.5s;
    background: white;
    border: solid 1px white;
    color: #c1d72e;
  }
  